<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2 class="text-center mt-4">Rxjx Common Operators</h2>
            <ul class="list">
                <li routerLink="from">
                    <a>from</a>
                </li>
                <li routerLink="fromEvent">
                    <a>fromEvent</a>
                </li>
                <li routerLink="of">
                    <a>Of</a>
                </li>
                <li routerLink="combineLatest">
                    <a>combineLatest</a>
                </li>
                <li routerLink="concat">
                    <a>concat</a>
                </li>
                <li routerLink="merge">
                    <a>merge</a>
                </li>
                <li routerLink="startWith">
                    <a>startWith</a>
                </li>
                <li routerLink="withLastestFrom">
                    <a>withLatestFrom</a>
                </li>
                <li routerLink="zip">
                    <a>zip</a>
                </li>
                <li routerLink="debounceTime">
                    <a>debounceTime</a>
                </li>
                <li routerLink="distinctUntilChanged">
                    <a>distinctUntilChanged</a>
                </li>
                <li routerLink="filter">
                    <a>filter</a>
                </li>
                <li routerLink="takeUntil">
                    <a>takeUntil</a>
                </li>
                <li routerLink="bufferTime">
                    <a>bufferTime</a>
                </li>
                <li routerLink="concatMap">
                    <a>concatMap</a>
                </li>
                <li routerLink="mergeMap">
                    <a>mergeMap</a>
                </li>
                <li routerLink="scan">
                    <a>scan</a>
                </li>
                <li routerLink="switchMap">
                    <a>switchMap</a>
                </li>
                <li routerLink="tap">
                    <a>tap</a>
                </li>
                <li routerLink="share">
                    <a>share</a>
                </li>
                <li routerLink="ngStyle">
                    <a>ngStyle</a>
                </li>
                <li routerLink="ngClass">
                    <a>ngClass</a>
                </li>
                <li routerLink="ngContent">
                    <a>ngContent</a>
                </li>
                <li routerLink="ngContainer">
                    <a>ngContainer</a>
                </li>
                <li routerLink="ngTemplete">
                    <a>ngTemplete</a>
                </li>
                <li routerLink="ngTempleteOutlet">
                    <a>ngTempleteOutlet</a>
                </li>
            </ul>
        </div>
    </div>
</div>